@model SigaApp.Models.Entidades.Estudio

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Excluir</div>
            <div class="panel-body">
                <p class="alert alert-danger" style="font-size:1.5rem; font-weight: 300; line-height: 1.2;">Tem certeza que deseja excluir este registro? Esta operação não poderá ser desfeita.</p>

                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataCadastro)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DescricaoDetalhada)
                        </dt>

                        @if (Model.DescricaoDetalhada != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DescricaoDetalhada)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.HoraFuncionamentoInicio)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HoraFuncionamentoInicio)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.HoraFuncionamentoFim)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HoraFuncionamentoFim)
                        </dd>
                    </dl>

                    <div class="form-group">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="EstudioID" />
                            <input type="submit" value="Excluir" class="btn btn-danger btn-sm" />
                            <a asp-action="Index" class="btn btn-sm btn-dark">Voltar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>