@model SigaApp.Models.Entidades.Estudio

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Estúdio</div>
            <div class="panel-body">
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataCadastro)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DescricaoDetalhada)
                        </dt>

                        @if (Model.DescricaoDetalhada != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DescricaoDetalhada)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.HoraFuncionamentoInicio)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HoraFuncionamentoInicio)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.HoraFuncionamentoFim)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HoraFuncionamentoFim)
                        </dd>
                    </dl>
                </div>
                <div class="form-group">
                    <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@Model.EstudioID">Editar</a>
                    <a asp-action="Index" class="btn btn-sm btn-dark">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>