@model SigaApp.Models.Entidades.Fornecedor

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Fornecedores</div>
            <div class="panel-body">
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataCadastro)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RazaoSocial)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RazaoSocial)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NomeFantasia)
                        </dt>
                        @if (Model.NomeFantasia != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NomeFantasia)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TipoPessoa)
                        </dt>
                        @if (Model.TipoPessoa != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TipoPessoa)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CPF)
                        </dt>
                        @if (Model.CPF != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CPF)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CNPJ)
                        </dt>
                        @if (Model.CNPJ != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CNPJ)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.InscricaoEstadual)
                        </dt>
                        @if (Model.InscricaoEstadual != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.InscricaoEstadual)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.InscricaoMunicipal)
                        </dt>
                        @if (Model.InscricaoMunicipal != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.InscricaoMunicipal)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        @if (Model.Email != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TelefoneFixo)
                        </dt>
                        @if (Model.TelefoneFixo != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TelefoneFixo)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TelefoneCelular)
                        </dt>
                        @if (Model.TelefoneCelular != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TelefoneCelular)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Responsavel)
                        </dt>
                        @if (Model.Responsavel != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Responsavel)
                            </dd>

                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">Endereço</dt>
                        <dd class="col-sm-10">@Model.Endereco</dd>

                        <dt class="col-sm-2">Dados Bancários</dt>
                        <dd class="col-sm-10">@Model.DadosBancarios</dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@Model.FornecedorID">Editar</a>
                    <a asp-action="Index" class="btn btn-sm btn-dark">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>

