@model Paginacao<SigaApp.Models.Entidades.SessaoGravacao>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Sessões de Gravação</div>
            <div class="panel-body">
                <p style="margin-top:20px">
                    <button class="btn btn-info btn-sm createSessao" data-toggle="modal" data-target="modalCreateSessao">Cadastrar Novo</button>
                </p>

                <form asp-action="Index" method="get">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Estúdio</label>
                            <select class="form-control " asp-items="@(new SelectList(ViewBag.ListaEstudios, "EstudioID", "Nome", ViewData["FiltroAtual"]))" name="txtEstudio">
                                <option value="">-- Selecione --</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <input type="submit" value="Pesquisar" class="btn btn-sm btn-dark" style="margin-top:31px; margin-left:-22px">
                        </div>
                    </div>
                </form>

                @if (Model.Count >= 1)
                {
                    <table class="table table-sm table-hover mt-4">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Cliente</th>
                                <th class="text-center">Data Inicio</th>
                                <th class="text-center">Data Fim</th>
                                <th class="text-center">Hora Inicio</th>
                                <th class="text-center">Hora Fim</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                TimeSpan total;
                                total = item.HoraFim - item.HoraInicio;
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Cliente.RazaoSocial)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.DataInicio)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.DataFim)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.HoraInicio)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.HoraFim)
                                    </td>
                                    <td class="text-center">
                                        @total.ToString("hh\\:mm")
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="Edit" asp-route-id="@item.SessaoID">Editar</a> |
                                        <a asp-action="Details" asp-route-id="@item.SessaoID">Detalhes</a> |
                                        <a asp-action="Delete" asp-route-id="@item.SessaoID">Excluir</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {

                }

                @{
                    var prevDisabled = !Model.TemPaginaAnterior ? "disabled" : "";
                    var nextDisabled = !Model.TemProximaPagina ? "disabled" : "";
                }
                <ul class="pager">
                    <li class="@prevDisabled">
                        <a asp-action="Index" asp-route-pagina="@(Model.PageIndex - 1)" asp-route-filtroAtual="@ViewData["FiltroAtual"]">Anterior</a>
                    </li>

                    <li class="@nextDisabled">
                        <a asp-action="Index" asp-route-pagina="@(Model.PageIndex + 1)" asp-route-filtroAtual="@ViewData["FiltroAtual"]">Próxima</a>
                    </li>
                </ul>

                <div id="modalCreateSessao" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modalLabelSessao"></div>
            </div>
        </div>
    </div>
</div>