@model SigaApp.Models.Entidades.Lancamento

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Lançamento</div>
            <div class="panel-body">
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataLancamento)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataLancamento)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>
                        @if (Model.Descricao != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Descricao)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        @if (Model.TipoLancamento == SigaApp.Utils.Enums.TipoLancamento.Credito)
                        {
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.TipoLancamento)
                            </dt>
                            <dd class="col-sm-10">
                                Crédito
                            </dd>
                        }
                        else
                        {
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.TipoLancamento)
                            </dt>
                            <dd class="col-sm-10">
                                Débito
                            </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NumeroDocumento)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NumeroDocumento)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CategoriaID)
                        </dt>
                        @if (Model.CategoriaID != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Categoria.Nome)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SubCategoriaID)
                        </dt>
                        @if (Model.SubCategoriaID != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.SubCategoria.Nome)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CentroCusto)
                        </dt>
                        @if (Model.CentroCustoID != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CentroCusto.Nome)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ContaContabil)
                        </dt>
                        @if (Model.ContaContabilID != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ContaContabil.NomeConta)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Valor)
                        </dt>
                        <dd class="col-sm-10">
                            <b>@Html.DisplayFor(model => model.Valor)</b>
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Observacoes)
                        </dt>
                        @if (Model.Observacoes != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Observacoes)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10"> - </dd>
                        }
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@Model.LancamentoID">Editar</a>
                    <a asp-action="Index" class="btn btn-sm btn-dark">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>
