@model SigaApp.Models.Entidades.ContaReceber

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Excluir</div>
            <div class="panel-body">
                <h3 style="font-size:1.5rem; font-weight: 300; line-height: 1.2;">Tem certeza que deseja excluir esse registro?</h3>
                <h5 style="font-size:1.2rem; font-weight: 300; line-height: 1.2;">Esta operação não poderá ser desfeita</h5>

                <div>
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.DataCadastro)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Valor)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Valor)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.CategoriaID)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Categoria.Nome)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ClienteID)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Cliente.RazaoSocial)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Competencia)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Competencia)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.NumeroDocumento)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.NumeroDocumento)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.TipoDocumento)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.TipoDocumento)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Observacoes)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Observacoes)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FlagAtivo)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.FlagAtivo)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.DataExclusao)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.DataExclusao)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ContaReceberID" />
                        <input type="submit" value="Excluir" class="btn btn-sm btn-danger" />
                        <a asp-action="Index" class="btn btn-sm btn-dark">Voltar</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>