@model SigaApp.Models.Entidades.ContaReceber

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Receber Conta</div>
            <div class="panel-body">
                @{
                    if (TempData["Mensagem"] != null)
                    {
                        <div class="alert alert-danger col-sm-12" role="alert" alert-dismissible fade show>
                            @TempData["Mensagem"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                }


                <form asp-action="Receber">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="ContaReceberID" />
                    <input type="hidden" asp-for="EmpresaID" />
                    <input type="hidden" asp-for="DataCadastro" />
                    <input type="hidden" asp-for="Competencia" />
                    <input type="hidden" asp-for="DataVencimento" />
                    <input type="hidden" asp-for="Valor" />
                    <input type="hidden" asp-for="Status" />
                    <input type="hidden" asp-for="FormaPagamento" />
                    <input type="hidden" asp-for="ClienteID" />
                    <input type="hidden" asp-for="CategoriaID" />
                    <input type="hidden" asp-for="SubCategoriaID" />
                    <input type="hidden" asp-for="CentroDeCustoID" />
                    <input type="hidden" asp-for="OrcamentoID" />
                    <input type="hidden" asp-for="NumeroDocumento" />
                    <input type="hidden" asp-for="Descricao" />
                    <input type="hidden" asp-for="TipoDocumento" />
                    <input type="hidden" asp-for="Observacoes" />
                    <input type="hidden" asp-for="Recorrente" />
                    <input type="hidden" asp-for="FlagAtivo" />
                    <input type="hidden" asp-for="ValorRecebido" />

                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(model => model.Cliente.RazaoSocial)</h5>
                            <h6 class="card-title">@Html.DisplayFor(model => model.Descricao)</h6>
                            <h6 class="card-title" style="color:red">@Html.DisplayFor(model => model.Valor)</h6>
                                                        
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label><b>Data de vencimento</b></label>
                                    <p class="card-text" style="font-size:14px">@Html.DisplayFor(model => model.DataVencimento)</p>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label><b>Competência</b></label>
                                    <p class="card-text" style="font-size:14px">@Html.DisplayFor(model => model.Competencia)</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label><b>Tipo do Documento</b></label>
                                    <p class="card-text" style="font-size:14px">@Html.DisplayFor(model => model.TipoDocumento)</p>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label><b>Número do Documento</b></label>
                                    <p class="card-text" style="font-size:14px">@Html.DisplayFor(model => model.NumeroDocumento)</p>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label><b>Forma de Pagamento</b></label>
                                    <p class="card-text" style="font-size:14px">@Html.DisplayFor(model => model.FormaPagamento)</p>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label><b>Status</b></label>
                                    <p class="card-text" style="font-size:14px">@Html.DisplayFor(model => model.Status)</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label><b>Categoria</b></label>
                                    @if (Model.Categoria == null)
                                    {
                                        <p class="card-text" style="font-size:14px"> - </p>
                                    }
                                    else
                                    {
                                        <p class="card-text" style="font-size:14px">@Html.DisplayFor(model => model.Categoria.Nome)</p>
                                    }
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label><b>Sub-categoria</b></label>
                                    @if (Model.SubCategoria == null)
                                    {
                                        <p class="card-text" style="font-size:14px"> - </p>
                                    }
                                    else
                                    {
                                        <p class="card-text" style="font-size:14px">@Html.DisplayFor(model => model.SubCategoria.Nome)</p>
                                    }
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label><b>Centro de Custo</b></label>
                                    @if (Model.CentroDeCusto == null)
                                    {
                                        <p class="card-text" style="font-size:14px"> - </p>
                                    }
                                    else
                                    {
                                        <p class="card-text" style="font-size:14px">@Html.DisplayFor(model => model.CentroDeCusto.Nome)</p>
                                    }
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label><b>Observações</b></label>
                                    @if (@Model.Observacoes == null)
                                    {
                                        <p class="card-text" style="font-size:14px"> - </p>
                                    }
                                    else
                                    {
                                        <p class="card-text" style="font-size:14px">@Html.DisplayFor(model => model.Observacoes)</p>
                                    }
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label asp-for="ContaContabilID" class="control-label"></label>
                                    <select asp-for="ContaContabilID" class="form-control " asp-items="@(new SelectList(ViewBag.ListaContaContabil, "ContaContabilID", "NomeConta"))">
                                        <option value="">-- Selecione --</option>
                                    </select>
                                    <span asp-validation-for="ContaContabilID"></span>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label asp-for="DataPagamento" class="control-label"></label>
                                    <input asp-for="DataPagamento" class="form-control " />
                                    <span asp-validation-for="DataPagamento"></span>
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label asp-for="Desconto" class="control-label"></label>
                                    <input asp-for="Desconto" class="form-control  money2" />
                                    <span asp-validation-for="Desconto"></span>
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label asp-for="Juros" class="control-label"></label>
                                    <input asp-for="Juros" class="form-control  money2" />
                                    <span asp-validation-for="Juros"></span>
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label asp-for="Multa" class="control-label"></label>
                                    <input asp-for="Multa" class="form-control  money2" />
                                    <span asp-validation-for="Multa"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Realizar Baixa" class="btn btn-sm btn-success" />
                        <a asp-action="Index" class="btn btn-sm btn-dark">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>