@model SigaApp.Models.Entidades.Orcamento

@{
    Layout = null;
}

<style type="text/css">
    body {
        padding-top: 60px;
        font-size: 12px;
        color: #444444;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGA - Gestão Audiovisual</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="text-right text-sm-right">
        <h6>@Model.Empresa.RazaoSocial</h6>
        <h6>@Model.Empresa.Endereco</h6>
        <h6>@Model.Empresa.CNPJ</h6>
        <h6>@Model.Empresa.TelefoneFixo</h6>
        <hr />
    </header>

    @if (Model.TipoOrcamento == "Audio")
    {
        <div class="row text-center mt-4">
            <div class="co-lg-12">
                <h4><b>ORÇAMENTO</b></h4>
            </div>
        </div>

        <h6><b>À</b></h6>
        <h6><b>@Model.Cliente.RazaoSocial</b></h6>
        <h6>Título: @Model.Titulo</h6>
        <h6>Data: @Model.DataOrcamento.ToString("dd/MM/yyyy")</h6>
        <h6>Validade: @Model.DataValidade.ToString("dd/MM/yyyy")</h6>
        <h6>Orçamento: @Model.OrcamentoID</h6>


        <div class="row mt-4">
            <div class="co-lg-12">
                <p>Conforme solicitado, encaminhamos nosso orçamento referente aos serviços prestados abaixo:</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="co-lg-12">
                <h5><b>Serviços</b></h5>
                <ol>
                    @foreach (var item in Model.OrcamentoServicos)
                    {
                        <li>@item.ServicoPrestado.Descricao</li>
                    }
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="co-lg-12">
                <h5><b>Total: @Model.TotalOrcamento.ToString("C")</b><span style="font-size:14px; margin-left:10px;">(@Model.ValorPorExtenso)</span></h5>
            </div>
        </div>

        <div class="mt-5">
            <h5><b>Observações</b></h5>
            <h6> - Impostos e encargos inclusos na proposta;</h6>
            <h6> - Forma de pagamento: à definir;</h6>
            <h6> - O valor acima é baseado nas informações fornecidas pelo contratante. Qualquer alteração deverá ser solicitado um novo orçamento</h6>
        </div>

    }
    else
    {
        <div class="row text-center mt-4">
            <div class="co-lg-12">
                <h4><b>ORÇAMENTO</b></h4>
            </div>
        </div>

        <h6><b>À</b></h6>
        <h6><b>@Model.Cliente.RazaoSocial</b></h6>
        <h6>Solicitante: @Model.Solicitante</h6>
        <h6>Título: @Model.Titulo</h6>
        <h6>Data: @Model.DataOrcamento.ToString("dd/MM/yyyy")</h6>
        <h6>Validade: @Model.DataValidade.ToString("dd/MM/yyyy")</h6>
        <h6>Orçamento: @Model.OrcamentoID</h6>

        <div class="row mt-5">
            <div class="co-lg-12">
                <p>Conforme solicitado, encaminhamos nosso orçamento referente aos serviços prestados abaixo:</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="co-lg-12">
                <h5><b>Serviços</b></h5>
                <ol>
                    @foreach (var item in Model.OrcamentoServicos)
                    {
                        <li>@item.ServicoPrestado.Descricao</li>
                    }
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="co-lg-12">
                <h5><b>Total: @Model.TotalOrcamento.ToString("C")</b><span style="font-size:14px; margin-left:10px;">(@Model.ValorPorExtenso)</span></h5>
            </div>
        </div>

        <div class="row mt-5">
            <div class="co-lg-12">
                <h5><b>Informações sobre veiculação</b></h5>
                <h6> - Nome da Peça: @Model.NomePeca</h6>
                <h6> - Duração: @Model.DuracaoPeca</h6>
                <h6> - Praça de veiculação: @Model.PracaVeiculacao</h6>
                <h6> - Período de Veiculação: @Model.PeriodoVeiculacao</h6>
                <h6> - Tipo de Veiculação: @Model.TipoVeiculacao</h6>
                <h6> - Tipo de Mídia: @Model.TipoMidia</h6>
                <h6> - BV (%): @Model.BonificacaoVeiculacao</h6>
            </div>
        </div>

        <div class="mt-4">
            <h5><b>Observações</b></h5>
            <h6> - Impostos e encargos inclusos na proposta;</h6>
            <h6> - Forma de pagamento: à definir;</h6>
            <h6> - O valor acima é baseado nas informações fornecidas pelo contratante. Qualquer alteração deverá ser solicitado um novo orçamento</h6>
        </div>
    }

    <div class="row mt-5">
        <div class="co-lg-12">
            <h6>Atenciosamente,</h6>
            <h6>@User.Identity.Name</h6>
        </div>
    </div>

</body>
</html>



