@model Paginacao<SigaApp.Models.Entidades.ContaPagar>

@if (Model.Count >= 1)
{
    <table class="table table-sm table-hover mt-4">
        <thead class="table-active">
            <tr>
                <th>Data Vencimento</th>
                <th class="text-center">Fornecedor</th>
                <th class="text-center">Descrição</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVencimento)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Fornecedor.RazaoSocial)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-sm table-hover mt-4">
        <thead>
            <tr>
                <th>Data Vencimento</th>
                <th class="text-center">Fornecedor</th>
                <th class="text-center">Descrição</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Não há registros</td></tr>
        </tbody>
    </table>
}

