@model IEnumerable<SigaApp.Models.Entidades.RelatorioDRE>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Categoria</th>
                <th class="text-center">Total Anual</th>
                <th class="text-center"><b>Jan.</b></th>
                <th class="text-center"><b>Fev.</b></th>
                <th class="text-center"><b>Mar.</b></th>
                <th class="text-center"><b>Abr.</b></th>
                <th class="text-center"><b>Mai.</b></th>
                <th class="text-center"><b>Jun.</b></th>
                <th class="text-center"><b>Jul.</b></th>
                <th class="text-center"><b>Ago.</b></th>
                <th class="text-center"><b>Set.</b></th>
                <th class="text-center"><b>Out.</b></th>
                <th class="text-center"><b>Nov.</b></th>
                <th><b>Dez.</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var relatorio in Model)
            {
                <tr style="background-color:lightgrey">
                    <td><b>@relatorio.DescricaoCategoria</b></td>
                    <td><b>@relatorio.ListaSubCategorias.Sum(x => x.SomatorioMensal.Sum(y => y.Total)).ToString("C")</b></td>
                    <td class="text-center"><b>Jan.</b></td>
                    <td class="text-center"><b>Fev.</b></td>
                    <td class="text-center"><b>Mar.</b></td>
                    <td class="text-center"><b>Abr.</b></td>
                    <td class="text-center"><b>Mai.</b></td>
                    <td class="text-center"><b>Jun.</b></td>
                    <td class="text-center"><b>Jul.</b></td>
                    <td class="text-center"><b>Ago.</b></td>
                    <td class="text-center"><b>Set.</b></td>
                    <td class="text-center"><b>Out.</b></td>
                    <td class="text-center"><b>Nov.</b></td>
                    <td class="text-center"><b>Dez.</b></td>
                </tr>
                @foreach(var categoriaFilho in @relatorio.ListaSubCategorias)
                {
                    <tr>
                        <td style="font-size:10px"> - @categoriaFilho.Nome</td>
                        <td style="font-size:10px">@categoriaFilho.SomatorioMensal.Sum(x => x.Total).ToString("C")</td>
                        @foreach(var itemMensal in categoriaFilho.SomatorioMensal)
                        {
                            <td class="text-center" style="font-size:8px">@itemMensal.Total.ToString("C")</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}



