@model SigaApp.Models.Entidades.Funcionario
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Funcionário</div>
            <div class="panel-body">
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataCadastro)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NomeCompleto)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NomeCompleto)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataAdmissao)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataAdmissao)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CPF)
                        </dt>
                        @if (Model.CPF != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CPF)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RG)
                        </dt>
                        @if (Model.RG != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.RG)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataNascimento)
                        </dt>
                        @if (Model.DataNascimento != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataNascimento)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataDemissao)
                        </dt>
                        @if (Model.DataDemissao != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataDemissao)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Sexo)
                        </dt>
                        @if (Model.Sexo != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Sexo)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.EstadoCivil)
                        </dt>
                        @if (Model.EstadoCivil != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.EstadoCivil)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Salario)
                        </dt>
                        @if (Model.Salario != 0)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Salario)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TelefoneFixo)
                        </dt>
                        @if (Model.TelefoneFixo != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TelefoneFixo)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TelefoneCelular)
                        </dt>
                        @if (Model.TelefoneCelular != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TelefoneCelular)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CTPS)
                        </dt>
                        @if (Model.CTPS != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CTPS)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PisPasep)
                        </dt>
                        @if (Model.PisPasep != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PisPasep)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        @if (Model.Email != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }
                    </dl>
                </div>
                <div class="form-group">
                    <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@Model.FuncionarioID">Editar</a>
                    <a asp-action="Index" class="btn btn-sm btn-dark">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>

