@model SigaApp.Models.Entidades.Usuario

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Usuário - @Model.Nome</div>
            <div class="panel-body">
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UsuarioID)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UsuarioID)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataCadastro)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Senha)
                        </dt>
                        <dd class="col-sm-10">
                            **********
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Perfil)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Perfil)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.EmpresaID)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Empresa.RazaoSocial)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FlagAtivo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FlagAtivo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataExclusao)
                        </dt>

                        @if (Model.DataExclusao != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataExclusao)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10">
                                <p> - </p>
                            </dd>
                        }
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataLimiteTeste)
                        </dt>

                        @if (Model.DataLimiteTeste != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataLimiteTeste)
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-10">
                                <p> - </p>
                            </dd>
                        }

                    </dl>
                </div>

                <div class="form-group">
                    <a asp-action="AlterarSenha" class="btn btn-sm btn-success" asp-route-id="@Model.UsuarioID">Alterar Senha</a>
                    <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@Model.UsuarioID">Editar</a>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-dark">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>