@model SigaApp.Models.Entidades.ContaContabil

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Conta Contábil</div>
            <div class="panel-body">
                <p class="alert alert-danger" style="font-size:1.5rem; font-weight: 300; line-height: 1.2;">Tem certeza que deseja excluir este registro? Esta operação não poderá ser desfeita.</p>
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataCadastro)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataAbertura)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataAbertura)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NomeConta)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NomeConta)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>
                        @if (Model.Descricao != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Descricao)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TipoConta)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TipoConta)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SaldoInicial)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SaldoInicial)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NomeBanco)
                        </dt>
                        @if (Model.NomeBanco != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NomeBanco)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NumeroAgencia)
                        </dt>
                        @if (Model.NumeroAgencia != null)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NumeroAgencia)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NumeroConta)
                        </dt>
                        @if ()
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NumeroConta)
                            </dd>
                        }
                        else
                        {
                            <dd> - </dd>
                        }
                    </dl>
                </div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ContaContabilID" />
                    <input type="submit" value="Excluir" class="btn btn-danger btn-sm" />
                    <a asp-action="Index" class="btn btn-sm btn-dark">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</div>

